<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link rel='stylesheet' href="./css/index.css">
        <title>Admin Home Page</title>
</head>
<header>

    <!-- views/partials/header.ejs -->
    <div class="head-back">

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#"><span>R</span>ecover</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="./">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./projects">PROJECTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./services">SERVICES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact">CONTACT</a>
                        </li>
                    </ul>
                    <div class="subtitle">
                        We do the dirty work for you!
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<main>

    <div class="container">

        <form>
            <h1>HOME PAGE</h1>
            <!-- EMAIL -->
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="" value="">
            </div>
            <!-- PHONE NUMBER -->
            <div class="form-group">
                <label for="PhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="" value="">
            </div>
            <!-- SUBTITLE ON MENU -->
            <div class="form-group">
                <label for="headerSubtitle">Subtitle on Header</label>
                <input type="text" class="form-control" id="headerSubtitle" name="headerSubtitle" placeholder="" value="">
            </div>
            <!-- COMPLETED PROJECTS NUMEBR OF PROJECTS  -->
            <div class="form-group">
                <label for="projectComplitedNumber">Projects Complited</label>
                <input type="text" class="form-control" id="projectComplitedNumber" name="projectComplitedNumber" placeholder="" value="">
            </div>
            <!-- COMPLITED PROJECTS TEXT  -->
            <div class="form-group">
                <label for="projectComplitedText">Projects Complited Text</label>
                <input type="text" class="form-control" id="projectComplitedText" name="projectComplitedText" placeholder="" value="">
            </div>
            <!-- INTRO FIRST CONTAINER  -->
            <div class="form-group">
                <label for="firstIntroContainerWork">First Intro Container Work</label>
                <input type="text" class="form-control" id="firstIntroContainerWork" name="firstIntroContainerWork" placeholder="" value="">
            </div>

            <!-- PARTNERS TEXT -->
            <div class="form-group">
                <label for="partnersText">Partners Text</label>
                <input type="text" class="form-control" id="partnersText" name="partnersText" placeholder="" value="">
            </div>
            <h1>ABOUT PAGE</h1>

            <!-- WELCOM TEXT -->
            <div class="form-group">
                <label for="welcomeAbout">Partners Text</label>
                <input type="text" class="form-control" id="welcomeAbout" name="welcomeAbout" placeholder="" value="">
            </div>

            <!-- INTRO -->
            <div class="form-group">
                <label for="introAbout">Partners Text</label>
                <input type="text" class="form-control" id="introAbout" name="introAbout" placeholder="" value="">
            </div>

            <!-- OUR MISSION -->
            <div class="form-group">
                <label for="ourMission">Partners Text</label>
                <input type="text" class="form-control" id="ourMission" name="ourMission" placeholder="" value="">
            </div>

            <!-- OUR VISION -->

            <div class="form-group">
                <label for="ourVision">Partners Text</label>
                <input type="text" class="form-control" id="ourVision" name="ourVision" placeholder="" value="">
            </div>

            <!-- QUICK INFO ABOUT COMPANY FOOTER -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</main>

<p class="text-center text-muted copyright"> Copyright 2019 </p>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./js/index.js "></script>
</body>

</html>