<!-- views/partials/footer.ejs -->
<div class="container footer-container">
    <div class="row">
        <div class="col-md-6">
            <a class="footer-brand" href="#"><span>R</span>ecover</a>
            <h4>Modern Building Company</h4>
            <p>Over the years, we’ve been able to build a reputation as one of the best independent company in our industry. We Accept applications from prospective companies throughout the year.
            </p>
            <p>
                Those interested to work with us in any field relate to our work are encouraged to contact us by way of telephone or e-mail by using the contact form to get more information information.
            </p>
        </div>
        <div class="col-md-6">
            <div class="working-footer">
                <h5>Business Hours</h5>
                <ul class="working-list-footer">
                    <li>Monday - Friday 9:00 am to 18:00 pm</li>
                    <li>Saturday 9:00 am to 16:00 pm</li>
                    <li>Sunday Closed</li>
                </ul>
            </div>
            <div class="newsletter">
                <h5>Email Newsletter</h5>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-subscribe" type="button" id="button-addon2">Subscribe</button>
                    </div>
                </div>
                <p> Subscribe up for the latest Recover Company content, updates, surveys & offers.</p>
            </div>
            <a class="privacy" href="#">Privacy Policy</a>
        </div>
    </div>
</div>


<p class="text-center text-muted copyright"> Copyright 2019 </p>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>