/* INDEX */

.carousel-inner {
    background-color: black;
}

.carousel-item img {
    opacity: 0.6;
}

.carousel-inner {
    width: 100%;
    max-height: 80vh !important;
}


/* FIRST INTRO*/

.first-intro {
    background-color: #111;
}

.first-intro-right {
    height: 180px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    background: url(../img/map-dots.svg)
}

.jobs-map {
    color: white
}

.first-into-middle {
    color: white;
}

.first-info-right {
    color: white;
}

.contact-qoute {
    margin-top: -92px;
}

.contact-qoute p {
    background-color: #111;
    padding: 10px;
    margin: 0;
}

.contact-qoute-link-container {
    background: #fcd846;
    padding: 5px;
    text-align: center;
}

.contact-qoute-link {
    color: black;
}

.contact-qoute-link:hover {
    color: white;
    text-decoration: none;
}

.contact-qoute:after {
    content: '';
    position: absolute;
    right: 15px;
    border: 0 solid rgba(0, 0, 0, 0);
    border-left-width: 128px;
    border-right-width: 128px;
    border-top: 15px solid #fcd846;
}


/* SECOND INTRO */

.second-intro-right h1 {
    margin: 10px;
}

.second-intro-right-container {
    padding-top: 70px;
}

.second-intro-right h1:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 60px;
    width: 28px;
    height: 28px;
    border-top: 2px solid #fcd846;
    border-left: 2px solid #fcd846;
}

.second-intro-right-link-projects {
    color: black;
    border-bottom: 1px solid #fcd846;
    position: relative;
}

.second-intro-right-link-projects::after {
    content: "";
    width: 50%;
    height: 1.1px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 18px;
}

.second-intro-right-link-projects:hover {
    text-decoration: none;
    color: #fcd846;
}


/* third intro */

.third-intro-container {
    padding-top: 20px;
}

.third-intro {
    background-color: #fcd846;
}

.img-third-intro-right {
    text-align: center;
    padding-bottom: 20px;
}


/* recent-projects */

.recent-projects {
    background-color: #111;
}

.recent-projects-container h1 {
    color: white;
    padding: 50px;
    position: relative;
}

.projects-list-tite:before {
    content: '';
    position: absolute;
    left: -20px;
    width: 28px;
    height: 28px;
    border-top: 2px solid #fcd846;
    border-left: 2px solid #fcd846;
}

.img-project-index {
    width: 100%;
}

.projects {
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
}

.projects a {
    margin: 0;
    padding: 0;
    color: white;
    transition: 0.2s ease;
}

.projects a:hover {
    text-decoration: none;
    color: #fcd846;
    margin-top: -10px;
}

.projects p {
    text-align: center;
    text-decoration: none;
}


/* PARTNERS */

.partners-info {
    padding-top: 70px;
}

.partners-info h1:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 60px;
    width: 28px;
    height: 28px;
    border-top: 2px solid #fcd846;
    border-left: 2px solid #fcd846;
}

.partenrs-logo {
    text-align: center;
    padding-top: 35px;
}

.partenrs-logo img {
    margin: 10px;
    opacity: 0.6;
    transition: 0.4s ease;
}

.partenrs-logo img:hover {
    opacity: 1;
}

.fifth-intro {
    padding-bottom: 30px;
}


/* MEDIA FOR < 1200  */

@media (max-width: 1200px) {
    .contact-qoute:after {
        content: '';
        position: absolute;
        right: 15px;
        border: 0 solid rgba(0, 0, 0, 0);
        border-left-width: 106px;
        border-right-width: 107px;
        border-top: 15px solid #fcd846;
    }
}


/* MEDIA FOR < 1200  */

@media (max-width: 992px) {
    .contact-qoute:after {
        content: '';
        position: absolute;
        right: 15px;
        border: 0 solid rgba(0, 0, 0, 0);
        border-left-width: 75px;
        border-right-width: 75px;
        border-top: 15px solid #fcd846;
    }
    .second-intro-left img {
        display: none;
    }
    .info,
    .first-intro,
    .bd-example,
    .navbar-collapse:after {
        display: none;
    }
    .second-intro-left img {
        opacity: 0.3;
    }
    .second-intro-right-container {
        margin-bottom: 60px;
    }
}


/* 
@media (max-width: 768px) {
    .info,
    .first-intro,
    .bd-example {
        display: none;
    }
    .second-intro-left img {
        opacity: 0.3;
    }
} */