/* FONT  */

@font-face {
    font-family: coolFont;
    src: url(../font/fontawesome-webfont.woff2);
}

html,
body {
    font-family: coolFont;
}


/* NAV */

.navbar-brand:after {
    content: '';
    position: absolute;
    left: 110px;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30.5px 0 30.5px 19px;
    border-color: rgba(30, 196, 154, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #111;
}

body,
html {
    height: 100%;
    width: 100%
}


/* HEADER */

nav {
    /* background-color: #fbcd14; */
    height: 70px;
}

.nav-item {
    z-index: 1;
    background-color: #fbcd14;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    transition: 0.2s ease;
    font-weight: bold;
    padding-top: 10px;
    border-block-end-color: #fbcd14;
    border-block-end-style: solid;
    border-block-start-color: #fbcd14;
    border-block-start-style: solid;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-block-end-color: white;
    border-block-end-style: solid;
    border-block-start-color: white;
    border-block-start-style: solid;
}

.head-back {
    background-color: black;
}

.navbar-brand {
    font-weight: bold;
    widows: 500px;
    position: relative;
    font-size: 25px;
}

.navbar-brand span {
    color: #fbcd14;
    font-size: 35px;
}

.navbar {
    padding: 0;
}

.navbar-collapse {
    padding-left: 25px;
    height: 60px;
}

.navbar-collapse:after {
    content: '';
    position: absolute;
    right: -21px;
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30.5px 0px 30.5px 21px;
    border-color: rgba(30, 196, 154, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fbcd14;
}

.subtitle {
    width: 100%;
    text-align: right;
    font-weight: bolder;
}

.upper-info {
    color: white;
}

.upper-info ul {
    list-style: none;
    padding-bottom: 10px;
}

.upper-info li {
    padding-right: 10px;
    font-size: 1rem;
}

.info {
    padding-left: 0px;
}

.info-li {
    float: left;
}

.social {
    float: right;
}

.social a {
    color: white;
    transition: 0.4s;
}

.social a:hover {
    color: #fbcd14;
}


/* footer */

footer {
    background-color: #111;
    color: white;
}

.footer-container {
    padding-top: 70px;
}

.footer-container a {
    color: white;
}

.footer-brand {
    font-weight: bold;
    font-size: 35px;
}

.footer-brand:hover {
    text-decoration: none;
}

.footer-brand span {
    color: #fbcd14;
    font-size: 45px;
}

.copyright {
    background-color: #111;
    margin: 0;
    padding-top: 10px;
}

.btn-subscribe {
    background-color: #fbcd14;
    color: #111;
}

.btn-subscribe:hover {
    background-color: #fbcd14;
    color: #111;
}

.working-list-footer {
    list-style: none;
}

.privacy {
    color: #fbcd14 !important;
}

.privacy:hover {
    text-decoration: none;
    color: white !important;
}

@media (max-width: 992px) {
    .navbar-collapse:after {
        display: none;
    }
}