<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link rel='stylesheet' href="./css/about.css">
        <title>About</title>
</head>
<header>
    <% include ../partials/header %>
</header>
<main>

    <div class="container about-container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-about">
                    <img src="./img/about-us-intro.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-intro-about">
                    <h1>Welcome to Recover!</h1>
                    <p>We are a consortium of expert construction company serving clients all over the world. We provide our clients with useful information and advice they need to make sound decisions to meet their construction goals.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 qoute-about-first">
                <h1>We stand by our work</h1>
                <p>That’s why, over the years, we’ve been able to build a reputation as one of the best independent construction consultants. We understand the importance of putting clients on the right path and we stand ready to work with them in all areas
                    of construction, renovation and buildings.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="progres-bar">
                    <h5 class="progres-percentage">89%</h5>
                    <h5 class="progres-title">General Contracting</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 89%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h5 class="progres-percentage">75%</h5>
                    <h5 class="progres-title">Construction Management</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h5 class="progres-percentage">99%</h5>
                    <h5 class="progres-title">Design and Build</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 99%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h5 class="progres-percentage">53%</h5>
                    <h5 class="progres-title">Special Projects</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 53%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-girl-worker">
                    <img src="./img/worker-3.jpg">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mission-about">
                    <h1>OUR MISSION</h1>
                    <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                        molestie consequat, vel illum dolore eu feugiat nulla facilisis at. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum augue duis dolore te feugait nulla facilis eum iriure dolor.
                    </p>
                    <ul>
                        <li><i class="yellow-check fas fa-check"></i> Claritas est etiam processus dynamicus;</li>
                        <li><i class="yellow-check fas fa-check"></i> Eodem modo typi, qui nunc nobis;</li>
                        <li><i class="yellow-check fas fa-check"></i> Mirum est notare quam littera gothica;</li>
                        <li><i class="yellow-check fas fa-check"></i> Typi non habent claritatem.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mission-about">
                    <h1>OUR VISION</h1>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis. Investigationes demonstraverunt
                        lectores legere me humanitatis per seacula quarta decima et quinta decima.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="qoute">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="qoute-text">LOOKING FOR A QUALITY AND AFFORDABLE CONSTRUCTOR FOR YOUR NEXT PROJECT?
                    </h3>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <a class="link-quote" href="#">REQUEST A QUOTE</a>
                </div>
            </div>
        </div>
    </div>


</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script src="./js/about.js "></script>
</body>

</html>