<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link rel='stylesheet' href="./css/index.css">
        <title>Home</title>
</head>
<header>
    <% include ../partials/header %>
</header>
<main>
    <!-- CAROUSEL -->
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/1.jpg" " class="d-block w-100 " alt="... ">
                      <div class="carousel-caption d-none d-md-block ">
                        <h1>We Build Your Dreams</h1>
                        <h4>Modern Building Company</h4>
                      </div>
                    </div>
                    <div class="carousel-item ">
                      <img src="./img/2.jpg "" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Construction You can count on!</h1>
                        <h4></h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/3.jpg" " class="d-block w-100 " alt="... ">
                      <div class="carousel-caption d-none d-md-block ">
                        <h1>Helping you </h1>
                        <h4>and your house become better acquinted</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!-- FIRST INTRO -->
              <div class="first-intro ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-3 first-intro-right d-flex align-items-center justify-content-center "><h1 class="jobs-map "><%=data.projectedComplitedNumber%></h1></div>
                        <div class="col-6 d-flex align-items-center ">
                            <div class="first-into-middle ">
                            <h1>Completed Projects</h1>
                            <p><%=data.projectComplitedText%></p>
                          </div>
                        </div>
                        <div class="col-3 ">
                            <div class="first-info-right ">
                                <div class="contact-qoute ">
                                    <p>LOOKING FOR A QUALITY AND AFFORDABLE CONSTRUCTOR FOR YOUR NEXT PROJECT?</p>
                                    <a class="contact-qoute-link " href="# "><div class="contact-qoute-link-container ">Request a Quote</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

<!-- SECOND INTRO -->
        <div class="second-intro ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-6 second-intro-left "><img src="./img/worker-1.jpg "> </div>
                    <div class="col-lg-6 second-intro-right ">
                        <div class=" second-intro-right-container ">
                        <h1>We do the dirty work for you</h1>
                       <p><%=data.firstIntroContainerWork%></p>
                            <a class="second-intro-right-link-projects " href="# ">OUR SERVICES</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="third-intro ">
            <div class="container-fluid third-intro-container ">
                <div class="row ">
                    <div class="col-md-4 ">
                        <div class="row ">
                            <div class="img-third-intro-right col-6 "><img src="./img/construction.svg "></div>
                            <div class="text-third-intro-right col-6 d-flex align-items-center ">
                                <h4>Design & Build Package</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                            <div class="row ">
                                <div class="img-third-intro-right col-6 "><img src="./img/drill.svg "></div>
                                <div class="text-third-intro-right col-6 d-flex align-items-center ">
                                    <h4>Building Renovation</h4>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4 ">
                                <div class="row ">
                                    <div class="img-third-intro-right col-6 "><img src="./img/architecture.svg "></div>
                                    <div class="text-third-intro-right col-6 d-flex align-items-center ">
                                        <h4>Project Management</h4>
                                    </div>
                                </div>
                     </div>
             </div>
         </div>
    </div>

<!-- RECENT PROJECTS -->

    <div class="recent-projects ">
        <div class="recent-projects-container container ">
            <h1 class="projects-list-tite ">Projects:</h1>
        </div>
        <div class="projects row ">
            <a href="# " class="col-3 ">
                    <img src="./img/projects/1.jpg " class="img-project-index " alt="... ">
                    Business Center
            </a>
            <a href="# " class="col-3 ">
                    <img src="./img/projects/2.jpg " class="img-project-index " alt="... ">
                    Office Building
            </a><a href="# " class="col-3 ">
                    <img src="./img/projects/3.jpg " class="img-project-index " alt="... ">
                    Family House
            </a><a href="# " class="col-3 ">
                    <img src="./img/projects/4.jpg " class="img-project-index " alt="... ">
                    Leisure center
            </a>
        </div>
    </div>
    <div class="fifth-intro ">
        <div class="container fifth-info-container ">
            <div class="row ">
                <div class="col-md-6 ">
                    <div class="partners-info ">
                           <h1>We work with the best partners</h1> 
                           <%-data.partnersText%> 
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="partenrs-logo ">
                        <div class="row ">
                            <div class="col-6 "><a href="# "><img src="./img/partners/01-smith.svg "></a></div>
                            <div class="col-6 "><a href="# "><img src="./img/partners/02-jack.svg "></a></div>
                        </div>
                        <div class="row ">
                                <div class="col-6 "><a href="# "><img src="./img/partners/03-woody.svg "></a></div>
                                <div class="col-6 "><a href="# "><img src="./img/partners/04-estd.svg "></a></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script src="./js/index.js "></script>
</body>

</html>