<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <link rel='stylesheet' href="./css/index.css">
        <title>Home</title>
</head>



<header>
    <% include ../partials/header %>

</header>

<main>
    <div>TEST</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script src="./js/index.js"></script>
</body>

</html>